.comment-box {
  width: 100%;
  min-height: 130px;
  border: 1px solid red;
  margin-bottom: 40px;
  position: relative;
}

.comment {
  width: 80%;
}

.comment-info {
  position: absolute;
  top: 0;
  right: 10px;
}

.comment-section {
  padding-top: 80px;
}

.replies {
  width: 50%;
  margin-left: 50%;
}
